.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 200px;
    .formInput{
        display: flex;
        flex-direction: column;
        width: 25%;
        border-radius: 10px;
        padding: 2vw;
        box-shadow: 0px 5px 10px 0px rgba(64, 54, 54, 0.5);
        gap: 1vw;
        .name{
            text-align: center;
            text-transform: uppercase;
            color: rgb(70, 53, 23);
        }
        .inputBox{
            padding: 0.5vw;
            border-radius: 5px;
            border: gray solid 2px;
            text-transform: uppercase;
            color: rgb(70, 53, 23);
            &::placeholder{
                text-transform: none;
            }
        }
    }
}
