.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    .formInput{
        display: flex;
        flex-direction: column;
        width: 25%;
        border-radius: 10px;
        padding: 2vw;
        box-shadow: 0px 5px 10px 0px rgba(39, 40, 46, 0.5);
        background-color: rgb(180, 187, 247);
        gap: 1vw;
        .name{
            text-align: center;
            text-transform: uppercase;
            color: rgb(70, 53, 23);
        }
        .inputBox{
            padding: 0.5vw;
            border-radius: 5px;
            border: none;
            text-transform: uppercase;
            color: rgb(70, 53, 23);
            background-color: rgb(220, 220, 247);
            &::placeholder{
                text-transform: none;
                
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
}
